{% extends "base.html" %}

{% block title %}chooseFunction{% endblock %}

{% block content %}
    <div class="container d-flex flex-column justify-content-center align-items-center" style="height: 80%; gap: 1rem;">
        
        <div class="text-white" >
            <h1 class=" fw-bold">選擇選課系統功能</h1>
        </div>

        <div class="row row-cols-1 row-cols-md-11 d-flex justify-content-center">
            
            <div class="col-3">
                <a href="{{ url_for('setTime') }}" class="text-decoration-none">
                    <div class="card border-primary h-100">
                        <div class="card-header"><h4 class="fw-bold">設定加退選時間</h4></div>
                        <div class="card-body text-primary">
                            <h5 class="card-title fw-bold">功能說明:</h5>
                            <p class="card-text">課務組可設定加選或退選功能的日期，只有在設定並且符合日期時才會開啟加退選功能</p>
                            <span class="stretched-link"></span>
                        </div>
                    </div>
                </a>
            </div>
            
            <div class="col-3">
                <a href="{{ url_for('enterID') }}" class="text-decoration-none">
                    <div class="card border-secondary h-100">
                        <div class="card-header"><h4 class="fw-bold">加選</h4></div>
                        <div class="card-body text-secondary">
                            <h5 class="card-title fw-bold">功能說明:</h5>
                            <p class="card-text">使用者可透過輸入學號、身分、課程代碼來加選課程，不同身分有不同的加選限制</p>
                            <span class="stretched-link"></span>
                        </div>
                    </div>
                </a>
            </div>
            
            <div class="col-3">
                <a href="{{ url_for('enterID') }}" class="text-decoration-none">
                    <div class="card border-success h-100">
                        <div class="card-header"><h4 class="fw-bold">退選</h4></div>
                        <div class="card-body text-success">
                            <h5 class="card-title fw-bold">功能說明:</h5>
                            <p class="card-text">使用者可透過輸入學號、身分、課程代碼來退選課程，不同身分有不同的退選限制</p>
                            <span class="stretched-link"></span>
                        </div>
                    </div>
                </a>
            </div>

        </div>

        <div class="row row-cols-1 row-cols-md-4  d-flex justify-content-center">

            <div class="col-2">
                <a href="{{ url_for('enterID') }}" class="text-decoration-none">
                    <div class="card border-danger h-100">
                        <div class="card-header"><h4 class="fw-bold">查看課表</h4></div>
                        <div class="card-body text-danger">
                            <h5 class="card-title fw-bold">功能說明:</h5>
                            <p class="card-text">使用者可透過輸入學號、身分來查詢該學號的課表，不同身分可看到的顏色註記會不一樣</p>
                            <span class="stretched-link"></span>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-2">
                <a href="{{ url_for('searchCourseInfo') }}" class="text-decoration-none">
                    <div class="card border-warning h-100">
                        <div class="card-header"><h4 class="fw-bold">查詢課程</h4></div>
                        <div class="card-body text-warning">
                            <h5 class="card-title fw-bold">功能說明:</h5>
                            <p class="card-text">使用者可透過課程代碼、課程名稱、課程時間、授課教師、必修/選修等條件查詢課程</p>
                           <span class="stretched-link"></span>                  
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-2">
                <a href="{{ url_for('recordCourseInfo') }}" class="text-decoration-none">
                    <div class="card border-info h-100">
                        <div class="card-header"><h4 class="fw-bold">紀錄課程資訊</h4></div>
                        <div class="card-body text-info">
                            <h5 class="card-title fw-bold">功能說明:</h5>
                            <p class="card-text">系所行政人員可輸入課程名稱、課程學分、教師姓名、課程類型等訊息紀錄課程資訊
                            <span class="stretched-link"></span>課程資訊</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-2">
                <a href="{{ url_for('fillOutSyllabus') }}" class="text-decoration-none">
                    <div class="card border-dark h-100">
                        <div class="card-header"><h4 class="fw-bold">填寫教學大綱</h4></div>
                        <div class="card-body text-dark">
                            <h5 class="card-title fw-bold">功能說明:</h5>
                            <p class="card-text">老師可輸入課程描述、教師/助教姓名和電子郵件、評分/課堂規則等訊息填寫教學大綱</p>
                            <span class="stretched-link"></span>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
{% endblock %}