{% extends "base.html" %}

{% block title %}courseSelectionResult{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="height: 80%;">

    <!-- <div class="row d-flex justify-content-center align-items-center"> -->
        
        <div class="col-lg-4">
            <div class="card border-secondary rounded-4 h-100">
                <div class="card-header p-3 px-4"><h3 class="fw-bold mb-0">選課結果</h2></div>
                
                <div class="card-body text-secondary d-flex justify-content-center align-items-center p-2">
                    <div class="d-flex flex-column justify-content-center align-items-start my-3">
                        <div class="col-12 d-flex justify-content-center align-items-center">
                            <p id="courseResult" class="fw-bold"></p>
                        </div>
                        <div class="col-12 d-flex justify-content-center align-items-center">
                            <span id="credits" class="fw-bold">目前學分:${} 最低學分:${} 最高學分:${}</span>
                        </div>
                    </div>
                </div>

                <div class="card-footer px-4">
                    <div class="d-flex justify-content-end" style="gap: 2rem;">
                        <a href="{{ url_for('homepage') }}" class="btn btn-secondary" id="noButton">否</a>
                        <a href="{{ url_for('enterCourseID') }}" id="confirmButton" class="btn btn-secondary">是</a>
                    </div>
                </div>

            </div>
        </div>

</div>
{% endblock %}

{% block content1 %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const selectedCourseCode = localStorage.getItem('selectedCourseCode');
        const selectedFunction = localStorage.getItem('selectedFunction');
        let action = '';

        if (selectedFunction === 'function_addCourse') {
            action = '加選';
        } else if (selectedFunction === 'function_dropCourse') {
            action = '退選';
        }

        const courseResult = `課程代碼${selectedCourseCode}${action}成功，是否繼續${action}課程？`;
        document.getElementById('courseResult').textContent = courseResult;

        const credits = `課程代碼${selectedCourseCode}${action}成功，是否繼續${action}課程？`;
        document.getElementById('credits').textContent = credits;
    });

    document.getElementById('noButton').addEventListener('click', function() {
        localStorage.clear();
    });

    document.getElementById('confirmButton').addEventListener('click', function() {
        localStorage.removeItem('selectedCourseCode');
    });
</script>
{% endblock %}