{% extends "base.html" %}

{% block title %}enterCourseID{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="height: 80%;">

    <!-- <div class="row d-flex justify-content-center align-items-center"> -->
        
        <div class="col-lg-6">
            <div class="card border-danger rounded-4 h-100">
                <div class="card-header p-3 px-4"><h3 class="fw-bold mb-0">請輸入課程代碼</h2></div>
                
                <div class="card-body text-danger d-flex justify-content-center align-items-center p-4">
                    <div class="col-lg-8 d-flex flex-column justify-content-center align-items-start my-3">
                        <div class="col-12 d-flex align-items-center">
                            <h5 class="card-title fw-bold mb-0">課程代碼:&nbsp;&nbsp;</h5>
                            <input type="text" class="form-control col" placeholder="請輸入課程代碼..." aria-label="SID" id="courseCodeInput">
                        </div>
                    </div>
                </div>

                <div class="card-footer px-4">
                    <div class="d-flex justify-content-end" style="gap: 2rem;">
                        <a href="#" class="btn btn-danger" id="backButton" onclick="back()">返回</a>
                        <a href="#" id="confirmButton" class="btn btn-danger" onclick="judge(), chooseCourseCode(document.getElementById('courseCodeInput').value)">確認</a>
                    </div>
                </div>

            </div>
        </div>


</div>
{% endblock %}

{% block content1 %}
<script>
    function chooseCourseCode(functionName){
        localStorage.setItem('selectedCourseCode', functionName);
    }

    async function checkAddCourseCode(courseCode, userId) {
        let response = await fetch('/enterCourseID/check_addcourse_code', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({course_code: courseCode, user_id: userId})
        });
        return await response.json();
    }

    async function checkDropCourseCode(courseCode, userId) {
        let response = await fetch('/enterCourseID/check_dropcourse_code', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({course_code: courseCode, user_id: userId})
        });
        return await response.json();
    }

    async function checkRecordCourseCode(courseCode) {
        let response = await fetch('/enterCourseID/check_recordcourse_code', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({course_code: courseCode})
        });
        return await response.json();
    }

    async function checkFillOutSyllabusCode(courseCode) {
        let response = await fetch('/enterCourseID/check_filloutsyllabus_code', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({course_code: courseCode})
        });
        return await response.json();
    }

    async function judge() {
        const selectedFunction = localStorage.getItem('selectedFunction');
        const studentRadio = localStorage.getItem('identity');
        const confirmButton = document.getElementById('confirmButton');

        const courseCode = document.querySelector('input[placeholder="請輸入課程代碼..."]').value;

        var addorDropCourse_url = "{{ url_for('courseSelectionResult') }}";
        var recordCourseInfo_url = "{{ url_for('recordCourseInfo') }}";


        //api調用路徑判斷

        if (selectedFunction === 'function_addCourse') {
            registration();//加選
        } else if (selectedFunction === 'function_dropCourse') {
            withdraw();//退選
        } else if (selectedFunction === 'function_recordCourseInfo'){
            data = await checkRecordCourseCode(courseCode);
        }else if(selectedFunction === 'function_fillOutSyllabus'){
            data = await checkFillOutSyllabusCode(courseCode);
        }

        // 檢查資料庫是否有該課程代碼可以加選，以及該生課表是否有該課程代碼可以退選
        let response = await fetch(fetchUrl, {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({course_code: courseCode, user_id: userId})
        });
        let data = await response.json(); 
        
        if (data.status !== 'exists') {
            alert('請確認課程代碼是否輸入正確');
            return;
        }//

        // 檢查學生是否有重複加選或退選不在已選課程中的課程
        let userCoursesResponse = await fetch('/enterCourseID/get_user_courses', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({user_id: userId})
        });
        let userCoursesData = await userCoursesResponse.json();

        if (userCoursesData.status === 'success') {
            const userCourses = userCoursesData.courses;

            if (selectedFunction === 'function_addCourse' && userCourses.includes(courseCode)) {
                alert('請勿重複加選該課程');
                return;
            } else if (selectedFunction === 'function_dropCourse' && !userCourses.includes(courseCode)) {
                alert('請輸入已選課程');
                return;
            }
        } else {
            alert('無法獲取學生已選課程');
            return;
        }// 檢查學生是否有重複加選或退選不在已選課程中的課程

        if (selectedFunction === 'function_addCourse' || selectedFunction === 'function_dropCourse') {
            confirmButton.href = addorDropCourse_url;
        } else if (selectedFunction === 'function_recordCourseInfo') {
            if (confirm('課程代碼已存在，將覆蓋過往資料')) {
                confirmButton.href = recordCourseInfo_url;
            } else {
                return;
            }
        }
        
        confirmButton.click();
    }
    //加選
    async function registration(){
        console.log('registration');
        const studentRadio = localStorage.getItem('identity');
        const courseCode = document.querySelector('input[placeholder="請輸入課程代碼..."]').value;
        const user_id = localStorage.getItem('SID');
        let result = await checkCourseCode(user_id,courseCode,studentRadio);
        if (result.status !== 'exists') {
            alert('課程代碼不存在');
            return;
        }

        result = await checkCourseAvailability(user_id,courseCode,studentRadio);
        if (result.status !== 'available') {
            alert('課程無名額');
            return;
        }

        result = await checkUserCredits(user_id,courseCode,studentRadio);
        if (result.status !== 'within_limit') {
            alert('超出選課學分上限');
            return;
        }

        result = await checkClassRestrictions(user_id,courseCode,studentRadio);
        if (result.status !== 'allowed') {
            alert('此課程有班級限制');
            return;
        }

        result = await checkScheduleConflicts(user_id,courseCode,studentRadio);
        if (result.status !== 'no_conflict') {
            alert('課程時間衝突');
            return;
        }

        result = await enrollCourse(user_id,courseCode,studentRadio);
        if (result.status === 'success') {
            alert('加選成功');
        } else {
            alert('加選失敗');
        }

    }
    //退選
    async function withdraw() {
        const studentRadio = localStorage.getItem('identity');
        const courseCode = document.querySelector('input[placeholder="請輸入課程代碼..."]').value;
        const userId = localStorage.getItem('SID');


        let result = await checkDropCourseCode(userId, courseCode,studentRadio);
        if (result.status !== 'exists') {
            alert('課程代碼不存在或未選該課程');
            return;
        }

        result = await checkMandatoryCourse(user_id,courseCode,studentRadio);
        if (result.status === 'restricted') {
            alert('此課程為本班必修課程，無法退選');
            return;
        }

        result = await checkUserCreditsForWithdraw(user_id,courseCode,studentRadio);
        if (result.status !== 'within_limit') {
            alert('退選後學分低於最低學分限制');
            return;
        }

        result = await dropCourse(user_id,courseCode,studentRadio);
        if (result.status === 'success') {
            alert('退選成功');
        } else {
            alert('退選失敗');
        }
    }

    async function fetchCourseCode() {                  //抓db有的課程代碼
        let response = await fetch('/enterCourseID/get_course_code');
        let data = await response.json();
        if (data.length > 0) {
            console.log('課程ID: ', data.map(course => course[0]).join(', '));
        } else {
            console.log('沒有找到任何課程ID');
        }
    }
    fetchCourseCode();

    async function fetchUserCourses(userId) {           //抓學生所選課程ID
        let response = await fetch('/enterCourseID/get_user_courses', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({user_id: userId})
        });
        let data = await response.json();
        if (data.status === 'success') {
            console.log('學生所選課程ID: ', data.courses.join(', '));
        } else {
            console.log('沒有找到任何課程ID');
        }
    }
    const userId = localStorage.getItem('SID'); // 假設 userId 已經存儲在 localStorage 中
    if (userId) {
        fetchUserCourses(userId);
    }

    function back(){//返回按鈕返回上一頁的對應功能之頁面及清除localStorage
        const selectedFunction = localStorage.getItem('selectedFunction');
        if (selectedFunction === 'function_addCourse' || selectedFunction === 'function_dropCourse') {
            localStorage.removeItem('SID');
            localStorage.removeItem('identity');
            window.location.href = "{{ url_for('enterID') }}";
        } else if (selectedFunction === 'function_recordCourseInfo') {
            localStorage.removeItem('selectedFunction');
            window.location.href = "{{ url_for('chooseFunction') }}";
        } else if (selectedFunction === 'function_fillOutSyllabus') {
            localStorage.removeItem('selectedFunction');
            window.location.href = "{{ url_for('chooseFunction') }}";
        }
    }//返回按鈕返回上一頁的對應功能之頁面及清除localStorage

    // API functions(勿動)
    async function checkCourseCode(user_id,courseCode,studentRadio) {
        const response = await fetch('/registration/check_course_code', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({ course_code: courseCode })
        });
        return response.json();
    }

    async function checkCourseAvailability(user_id,courseCode,studentRadio) {
        const response = await fetch('/registration/check_course_availability', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({ course_code: courseCode })
        });
        return response.json();
    }

    async function checkUserCredits(user_id,courseCode,studentRadio) {
        const response = await fetch('/registration/check_user_credits', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({ user_id: userId, course_code: courseCode, actor: studentRadio })
        });
        return response.json();
    }
    async function checkClassRestrictions(user_id,courseCode,studentRadio) {
        const response = await fetch('/registration/check_class_restrictions', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({ user_id: userId, course_code: courseCode, actor: studentRadio })
        });
        return response.json();
    }

    async function checkScheduleConflicts(user_id,courseCode,studentRadio) {
        const response = await fetch('/registration/check_schedule_conflicts', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({ user_id: userId, course_code: courseCode , actor: studentRadio})
        });
        return response.json();
    }

    async function enrollCourse(user_id,courseCode,studentRadio) {
        const response = await fetch('/registration/enroll_course', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({ user_id: userId, course_code: courseCode , actor: studentRadio})
        });
        return response.json();
    }

    async function checkDropCourseCode(user_id,courseCode,studentRadio) {
        const response = await fetch('/enterCourseID/check_dropcourse_code', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({ user_id: userId, course_code: courseCode , actor: studentRadio})
        });
        return response.json();
    }

    async function checkMandatoryCourse(user_id,courseCode,studentRadio) {
        const response = await fetch('/withdraw/check_class_restrictions', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({ user_id: userId, course_code: courseCode, actor: studentRadio })
        });
        return response.json();
    }

    async function checkUserCreditsForWithdraw(user_id,courseCode,studentRadio) {
        const response = await fetch('/withdraw/check_user_credits', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({ user_id: userId, course_code: courseCode, actor: studentRadio })
        });
        return response.json();
    }

    async function dropCourse(user_id,courseCode,studentRadio) {
        const response = await fetch('/withdraw/drop_course', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({ user_id: userId, course_code: courseCode, actor: studentRadio })
        });
        return response.json();
    }

</script>
{% endblock %}