{% extends "base.html" %}

{% block title %}recordCourseInfo{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="height: 80%;">
    <div class="col-lg-8">
        <div class="card border-info rounded-4 h-100">
            <div class="card-header p-3 px-4">
                <h3 class="fw-bold mb-0">紀錄課程資訊</h3>
            </div>
            <div class="card-body text-info p-4 px-5 d-flex justify-content-center align-items-center">
                <!-- <div class="row"> -->
                    <div class="col-12 col-md-6 p-0">
                        <div class="col-12 d-flex align-items-center">
                            <h5 class="col-4 card-title fw-bold mb-0 d-flex justify-content-end">課程代碼:&nbsp;</h5>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="courseCode" placeholder="請輸入課程代碼...">
                            </div>
                        </div>
                        <div class="col-12 d-flex align-items-center">
                            <h5 class="col-4 card-title fw-bold mb-0 d-flex justify-content-end">課程名稱:&nbsp;</h5>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="courseName" placeholder="請輸入課程名稱...">
                            </div>
                        </div>
                        <div class="col-12 d-flex align-items-center">
                            <h5 class="col-4 card-title fw-bold mb-0 d-flex justify-content-end">課程學分:&nbsp;</h5>
                            <div class="col-sm-8">
                                <input type="number" class="form-control" id="courseCredits" placeholder="請輸入課程學分...">
                            </div>
                        </div>
                        <div class="col-12 d-flex align-items-center">
                            <h5 class="col-4 card-title fw-bold mb-0 d-flex justify-content-end">教師姓名:&nbsp;</h5>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="teacherName" placeholder="請輸入教師姓名...">
                            </div>
                        </div>
                        <div class="col-12 d-flex align-items-center">
                            <h5 class="col-4 card-title fw-bold mb-0 d-flex justify-content-end">開課班級:&nbsp;</h5>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="className" placeholder="請輸入開課班級...">
                            </div>
                        </div>
                        <div class="col-12 d-flex align-items-center">
                            <h5 class="col-4 card-title fw-bold mb-0 d-flex justify-content-end">上課地點:&nbsp;</h5>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="classLocation" placeholder="請輸入上課地點...">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 p-0">
                        <div class="col-12 d-flex align-items-center">
                            <h5 class="col-4 card-title fw-bold mb-0 d-flex justify-content-end">課程類型:&nbsp;</h5>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="courseType" placeholder="請輸入課程類型...">
                            </div>
                        </div>
                        <div class="col-12 d-flex align-items-center">
                            <h5 class="col-4 card-title fw-bold mb-0 d-flex justify-content-end">班級限制:&nbsp;</h5>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="classRestriction" placeholder="請輸入班級限制...">
                            </div>
                        </div>
                        <div class="col-12 d-flex align-items-center">
                            <h5 class="col-4 card-title fw-bold mb-0 d-flex justify-content-end">修課人數:&nbsp;</h5>
                            <div class="col-sm-8">
                                <input type="number" class="form-control" id="maxStudents" placeholder="請輸入最大修課人數...">
                            </div>
                        </div>
                        <div class="col-12 d-flex align-items-center">
                            <h5 class="col-4 card-title fw-bold mb-0 d-flex justify-content-end">上課時段:&nbsp;</h5>
                            <div class="col-sm-8">
                                <div class="d-flex align-items-center">
                                    <select class="form-control px-2 text-center" id="classDay">
                                        <option value="Monday">星期一</option>
                                        <option value="Tuesday">星期二</option>
                                        <option value="Wednesday">星期三</option>
                                        <option value="Thursday">星期四</option>
                                        <option value="Friday">星期五</option>
                                        <option value="Saturday">星期六</option>
                                        <option value="Sunday">星期日</option>
                                    </select>
                                    <select class="form-control px-2 text-center" id="startTime">
                                        <option value="08:00">08:00</option>
                                        <option value="09:00">09:00</option>
                                        <option value="10:00">10:00</option>
                                        <option value="11:00">11:00</option>
                                        <option value="12:00">12:00</option>
                                        <option value="13:00">13:00</option>
                                        <option value="14:00">14:00</option>
                                        <option value="15:00">15:00</option>
                                        <option value="16:00">16:00</option>
                                        <option value="17:00">17:00</option>
                                        <option value="18:00">18:00</option>
                                        <option value="19:00">19:00</option>
                                        <option value="20:00">20:00</option>
                                    </select>
                                    <span class="mx-1 text-dark">~</span>
                                    <select class="form-control px-2 text-center" id="endTime">
                                        <option value="09:00">09:00</option>
                                        <option value="10:00">10:00</option>
                                        <option value="11:00">11:00</option>
                                        <option value="12:00">12:00</option>
                                        <option value="13:00">13:00</option>
                                        <option value="14:00">14:00</option>
                                        <option value="15:00">15:00</option>
                                        <option value="16:00">16:00</option>
                                        <option value="17:00">17:00</option>
                                        <option value="18:00">18:00</option>
                                        <option value="19:00">19:00</option>
                                        <option value="20:00">20:00</option>
                                        <option value="21:00">21:00</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- </div> -->
            </div>
            <div class="card-footer px-4">
                <div class="d-flex justify-content-end" style="gap: 2rem;">
                    <a href="{{ url_for('chooseFunction') }}" class="btn btn-danger">返回</a>
                    <a href="#" id="confirmButton" class="btn btn-danger" onclick="judge()">確認</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content1 %}
<script>

    function adjustHeading() {

        const titles = document.querySelectorAll('.card-title');

        titles.forEach(title => {
            if (!title.dataset.originalContent) {
                title.dataset.originalContent = title.textContent;
            }
            if (window.innerWidth >= 1400) {
                title.innerHTML = `<h5 class="card-title fw-bold mb-0">${title.dataset.originalContent}</h5>`;
                title.style.display = '';
            } else if (window.innerWidth >= 1200) {
                title.innerHTML = `<h6 class="card-title fw-bold mb-0">${title.dataset.originalContent}</h6>`;
                title.style.display = '';
            } else {
                title.innerHTML = `<h6 class="col-4 card-title fw-bold mb-0">${title.dataset.originalContent}</h6>`;
                title.style.display = '';
            }
        });
    }

    window.addEventListener('resize', adjustHeading);
    window.addEventListener('load', adjustHeading);

</script>
{% endblock %}