{% extends "base.html" %}

{% block title %}recordCourseInfo{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="height: 80%;">
    <div class="col-lg-8">
        <div class="card border-info rounded-4 h-100">
            <div class="card-header p-3 px-4">
                <h3 class="fw-bold mb-0">紀錄課程資訊</h3>
            </div>
            <div class="card-body text-info p-4 d-flex justify-content-center align-items-center">
                <!-- <div class="row"> -->
                    <div class="col-12 col-md-6 p-0 d-flex flex-column justify-content-center align-item-center">
                        <div class="col-12 d-flex align-items-center">
                            <h5 class="col-5 card-title fw-bold mb-0 d-flex justify-content-end">課程名稱:&nbsp;</h5>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="courseName" placeholder="請輸入課程名稱...">
                            </div>
                        </div>
                        <div class="col-12 d-flex align-items-center">
                            <h5 class="col-5 card-title fw-bold mb-0 d-flex justify-content-end">課程學分:&nbsp;</h5>
                            <div class="col-sm-7">
                                <input type="number" class="form-control" id="courseCredits" placeholder="請輸入課程學分...">
                            </div>
                        </div>
                        <div class="col-12 d-flex align-items-center">
                            <h5 class="col-5 card-title fw-bold mb-0 d-flex justify-content-end">教師姓名:&nbsp;</h5>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="teacherName" placeholder="請輸入教師姓名...">
                            </div>
                        </div>
                        <div class="col-12 d-flex align-items-center">
                            <h5 class="col-5 card-title fw-bold mb-0 d-flex justify-content-end">必修/選修:&nbsp;</h5>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="courseType" placeholder="請輸入課程類型...">
                            </div>
                        </div>
                        <div class="col-12 d-flex align-items-center">
                            <h5 class="col-5 card-title fw-bold mb-0 d-flex justify-content-end">最大修課人數:&nbsp;</h5>
                            <div class="col-sm-7">
                                <input type="number" class="form-control" id="maxStudents" placeholder="請輸入最大修課人數...">
                            </div>
                        </div>
                        <div class="col-12 d-flex align-items-center">
                            <h5 class="col-5 card-title fw-bold mb-0 d-flex justify-content-end">上課地點:&nbsp;</h5>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="classLocation" placeholder="請輸入上課地點...">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 p-0 d-flex flex-column justify-content-center align-item-center">
                        <div class="col-12 d-flex align-items-center">
                            <h5 class="col-4 card-title fw-bold mb-0 d-flex justify-content-end">上課時段:&nbsp;</h5>
                            <div class="col-sm-7">
                                <div class="d-flex align-items-center">
                                    <select class="form-control px-2 text-center" id="classDay">
                                        <option value="1">星期一</option>
                                        <option value="2">星期二</option>
                                        <option value="3">星期三</option>
                                        <option value="4">星期四</option>
                                        <option value="5">星期五</option>
                                        <option value="6">星期六</option>
                                        <option value="7">星期日</option>
                                    </select>
                                    <select class="form-control px-2 text-center" id="startTime">
                                        <option value="1">第1節</option>
                                        <option value="2">第2節</option>
                                        <option value="3">第3節</option>
                                        <option value="4">第4節</option>
                                        <option value="5">第5節</option>
                                        <option value="6">第6節</option>
                                        <option value="7">第7節</option>
                                        <option value="8">第8節</option>
                                        <option value="9">第9節</option>
                                        <option value="10">第10節</option>
                                        <option value="11">第11節</option>
                                        <option value="12">第12節</option>
                                        <option value="13">第13節</option>
                                        <option value="14">第14節</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 d-flex align-items-center">
                            <h5 class="col-4 card-title fw-bold mb-0 d-flex justify-content-end">開課班級:&nbsp;</h5>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="className" placeholder="請輸入開課班級...">
                            </div>
                        </div>
                        <div class="col-12 d-flex align-items-center">
                            <h5 class="col-4 card-title fw-bold mb-0 d-flex justify-content-end">班級限制:&nbsp;</h5>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="classRestriction" placeholder="請輸入班級限制...">
                            </div>
                        </div>
                        
                        
                        
                        
                    </div>
                <!-- </div> -->
            </div>
            <div class="card-footer px-4">
                <div class="d-flex justify-content-end" style="gap: 2rem;">
                    <a href="{{ url_for('chooseFunction') }}" class="btn btn-danger">返回</a>
                    <a href="#" id="confirmButton" class="btn btn-danger" onclick="judge()">確認</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content1 %}
<script>

    function adjustHeading() {

        const titles = document.querySelectorAll('.card-title');

        titles.forEach(title => {
            if (!title.dataset.originalContent) {
                title.dataset.originalContent = title.textContent;
            }
            if (window.innerWidth >= 1400) {
                title.innerHTML = `<h5 class="card-title fw-bold mb-0">${title.dataset.originalContent}</h5>`;
                title.style.display = '';
            } else if (window.innerWidth >= 1200) {
                title.innerHTML = `<h6 class="card-title fw-bold mb-0">${title.dataset.originalContent}</h6>`;
                title.style.display = '';
            } else {
                title.innerHTML = `<h6 class="col-5 card-title fw-bold mb-0">${title.dataset.originalContent}</h6>`;
                title.style.display = '';
            }
        });
    }

    window.addEventListener('resize', adjustHeading);
    window.addEventListener('load', adjustHeading);

</script>
{% endblock %}