{% extends "base.html" %}

{% block title %}searchCourseInfo{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="height: 80%;">

    <div class="col-12 col-md-8 col-lg-6">
        <div class="card border-warning rounded-4 h-100">
            <div class="card-header p-3 px-4"><h3 class="fw-bold mb-0">查詢課程資訊</h3></div>
            
            <div class="col-12 card-body text-warning d-flex justify-content-center align-items-start p-4 overflow-auto" style="height: 50vh;">
                <div class="col-lg-8 d-flex flex-column justify-content-center align-items-center" style="gap: 1rem;">
                    <!-- Row 1: 課程代碼 -->
                    <div class="col-12 d-flex align-items-center">
                        <input type="checkbox" class="col-1 form-check-input me-2" id="course_code_checkbox">
                        <h5 class="card-title col-4 col-xl-4 fw-bold mb-0">課程代碼:</h5>
                        <input type="text" class="form-control col" id="course_code" placeholder="請輸入課程代碼...">
                    </div>
                    <!-- Row 2: 課程名稱 -->
                    <div class="col-12 d-flex align-items-center">
                        <input type="checkbox" class="form-check-input me-2" id="course_name_checkbox">
                        <h5 class="card-title col-4 col-xl-4 fw-bold mb-0">課程名稱:</h5>
                        <input type="text" class="form-control col" id="course_name" placeholder="請輸入課程名稱...">
                    </div>
                    <!-- Row 3: 課程時間 -->
                    <div class="col-12 d-flex align-items-center">
                        <input type="checkbox" class="form-check-input me-2" id="course_time_checkbox">
                        <h5 class="card-title col-4 col-xl-4 fw-bold mb-0">課程時間:</h5>
                        <div class="col-7">
                            <div class="d-flex align-items-center">
                                <select class="form-control px-2 text-center" id="weekday">
                                    <option value="1">星期一</option>
                                    <option value="2">星期二</option>
                                    <option value="3">星期三</option>
                                    <option value="4">星期四</option>
                                    <option value="5">星期五</option>
                                    <option value="6">星期六</option>
                                    <option value="7">星期日</option>
                                </select>
                                <select class="form-control px-2 text-center" id="time_slot">
                                    <option value="1">第一節</option>
                                    <option value="2">第二節</option>
                                    <option value="3">第三節</option>
                                    <option value="4">第四節</option>
                                    <option value="5">第五節</option>
                                    <option value="6">第六節</option>
                                    <option value="7">第七節</option>
                                    <option value="8">第八節</option>
                                    <option value="9">第九節</option>
                                    <option value="10">第十節</option>
                                    <option value="11">第十一節</option>
                                    <option value="12">第十二節</option>
                                    <option value="13">第十三節</option>
                                    <option value="14">第十四節</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- Row 4: 授課教師 -->
                    <div class="col-12 d-flex align-items-center">
                        <input type="checkbox" class="form-check-input me-2" id="instructor_checkbox">
                        <h5 class="card-title col-4 col-xl-4 fw-bold mb-0">授課教師:</h5>
                        <input type="text" class="form-control col" id="instructor" placeholder="請輸入授課教師...">
                    </div>
                    <!-- Row 5: 開課班級 -->
                    <div class="col-12 d-flex align-items-center">
                        <input type="checkbox" class="form-check-input me-2" id="class_name_checkbox">
                        <h5 class="card-title col-4 col-xl-4 fw-bold mb-0">開課班級:</h5>
                        <input type="text" class="form-control col" id="class_name" placeholder="請輸入開課班級...">
                    </div>
                    <!-- Row 6: 上課地點 -->
                    <div class="col-12 d-flex align-items-center">
                        <input type="checkbox" class="form-check-input me-2" id="location_checkbox">
                        <h5 class="card-title col-4 col-xl-4 fw-bold mb-0">上課地點:</h5>
                        <input type="text" class="form-control col" id="location" placeholder="請輸入上課地點...">
                    </div>
                    <!-- Row 7: 必修/選修 -->
                    <div class="col-12 d-flex align-items-center">
                        <input type="checkbox" class="form-check-input me-2" id="compulsory_checkbox">
                        <h5 class="card-title col-4 col-xl-4 fw-bold mb-0">必修/選修:</h5>
                        <div class="form-check col-3 mb-0">
                            <input class="form-check-input" type="radio" name="compulsory" id="compulsory" value="1" checked>
                            <label class="form-check-label" for="compulsory">必修</label>
                        </div>
                        <div class="form-check col mb-0">
                            <input class="form-check-input" type="radio" name="compulsory" id="elective" value="0">
                            <label class="form-check-label" for="elective">選修</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-footer px-5">
                <div class="d-flex justify-content-between" style="gap: 2rem;">
                    <button type="button" class="btn btn-secondary" onclick="resetForm()">重設</button>
                    <div class="d-flex" style="gap: 2rem;">
                        <a href="{{ url_for('chooseFunction') }}" class="btn btn-warning">返回</a>
                        <a href="#" id="confirmButton" class="btn btn-warning" onclick="searchCourseInfo()">查詢</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
{% endblock %}

{% block content1 %}

<script>
    function resetForm() {
        const inputs = document.querySelectorAll('.card-body input[type="text"]');
        const checkboxes = document.querySelectorAll('.card-body input[type="checkbox"]');
        const radios = document.querySelectorAll('.card-body input[type="radio"]');

        inputs.forEach(input => input.value = '');
        checkboxes.forEach(checkbox => checkbox.checked = false);
        radios.forEach(radio => {
        if (radio.id === 'compulsory') {
            radio.checked = true;
        } else if (radio.id === 'elective') {
            radio.checked = false;
        }
    });
    }

    function adjustHeading() {
        const titles = document.querySelectorAll('.card-title');

        titles.forEach(title => {
            if (!title.dataset.originalContent) {
                title.dataset.originalContent = title.textContent;
            }

            if (window.innerWidth >= 1400) {
                title.style.fontSize = '1.25rem';
            } else if (window.innerWidth >= 1200) {
                title.style.fontSize = '1.25rem';
            } else {
                title.style.fontSize = '1rem';
            }
        });
    }

    window.addEventListener('resize', adjustHeading);
    window.addEventListener('load', adjustHeading);

    async function searchCourseInfo() {
        const courseCodeCheckbox = document.getElementById('course_code_checkbox').checked;
        const courseNameCheckbox = document.getElementById('course_name_checkbox').checked;
        const courseTimeCheckbox = document.getElementById('course_time_checkbox').checked;
        const instructorCheckbox = document.getElementById('instructor_checkbox').checked;
        const classNameCheckbox = document.getElementById('class_name_checkbox').checked;
        const locationCheckbox = document.getElementById('location_checkbox').checked;
        const compulsoryCheckbox = document.getElementById('compulsory_checkbox').checked;

        const courseCode = courseCodeCheckbox ? document.getElementById('course_code').value : '';
        const courseName = courseNameCheckbox ? document.getElementById('course_name').value : '';
        const weekday = courseTimeCheckbox ? document.getElementById('weekday').value : '';
        const timeSlot = courseTimeCheckbox ? document.getElementById('time_slot').value : '';        
        const instructor = instructorCheckbox ? document.getElementById('instructor').value : '';
        const className = classNameCheckbox ? document.getElementById('class_name').value : '';
        const location = locationCheckbox ? document.getElementById('location').value : '';
        const compulsory = compulsoryCheckbox ? document.querySelector('input[name="compulsory"]:checked').value : '';

        const response = await fetch('/course_query/check_course_query_input', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({
                course_code: courseCode,
                course_name: courseName,
                weekday: weekday,
                time_slot: timeSlot,
                instructor: instructor,
                class_name: className,
                location: location,
                compulsory: compulsory,
            })

        });

        const data = await response.json();
        if (data.status === 'found') {
            localStorage.setItem('courseInfoResult', JSON.stringify(data.courses));
            window.location.href = "/courseInfoResult";
        } else if (data.status === 'not_found') {
            alert('查無符合條件的課程');
        } else if (data.status === 'empty') {
            alert('至少需要一個查詢條件');
        }
    }

    function displayCourses(courses) {
        const tableBody = document.getElementById('course_table_body');

        courses.forEach(course => {
            const row = document.createElement('tr');

            const courseCodeCell = document.createElement('td');
            courseCodeCell.textContent = course[0];
            row.appendChild(courseCodeCell);

            const courseNameCell = document.createElement('td');
            courseNameCell.textContent = course[1];
            row.appendChild(courseNameCell);

            const creditsCell = document.createElement('td');
            creditsCell.textContent = course[2];
            row.appendChild(creditsCell);

            const maxStudentsCell = document.createElement('td');
            maxStudentsCell.textContent = course[3];
            row.appendChild(maxStudentsCell);

            const instructorCell = document.createElement('td');
            instructorCell.textContent = course[4];
            row.appendChild(instructorCell);

            const locationCell = document.createElement('td');
            locationCell.textContent = course[5];
            row.appendChild(locationCell);

            const compulsoryCell = document.createElement('td');
            compulsoryCell.textContent = course[6] ? '是' : '否';
            row.appendChild(compulsoryCell);

            const scheduleCell = document.createElement('td');
            scheduleCell.textContent = course[7];
            row.appendChild(scheduleCell);

            const classNamesCell = document.createElement('td');
            classNamesCell.textContent = course[8];
            row.appendChild(classNamesCell);

            tableBody.appendChild(row);
        });
    }
</script>
{% endblock %}